#comp-scoreboard {
  background-color: red;
  font-size: 20px;
}
#human-scoreboard {
  background-color: red;
  font-size: 20px;
}

#pong {
  background-repeat: no-repeat;

  background-size: strech;
  background-image: url("img/background/football_field.jpg");
  background-size: contain;
  margin: 0px auto;
}

#ball {
  position: absolute;
  background-image: url("./img/basketball.gif");
  height: 30px;
  width: 30px;
  background-repeat: round;
  background-image: url("./img/soccer_ball.gif");
  background-image: url("./img/volleyball.gif");
  background-image: url("./img/football.gif");
  //spin
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  //spin
  /*transition: */
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 900px;
}

.container {
  
}
